html,
body {

    margin: 0;
    padding: 0;
    padding-top: 40px;
    width: 100%;
    background-color: rgb(255, 218, 176);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body::before,
::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.border1 {
    border: 2px solid darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boldText1 {
    font-size: 20px;
    font-weight: bold;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 1;
    z-index: 9999;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

#loadingOverlay.loaded {
    opacity: 0;
    pointer-events: none;
}

#header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

#header.loaded {
    opacity: 1;
}

.Container {
    position: relative;
    box-sizing: border-box;
    border-top: 8px solid darkolivegreen;
    border-bottom: 8px solid darkolivegreen;
    height: 86px;
    margin: 0 auto;
    background-color: rgb(201, 107, 0);
}

.Container2 {
    border-top: 8px solid darkolivegreen;
    border-bottom: 8px solid darkolivegreen;
    background-color: rgb(201, 107, 0);
    height: auto;
    flex-direction: column;
    align-items: center;
}

.spMenuButton {
    position: absolute;
    right: 40px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

#spMenuVisible .spMenuButton {
    top: 18px;
}

.spMenuButton:hover {
    transform: scale(110%);
}

.spMenuButton:active {
    transform: scale(90%);
}

.Flex {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.spec {
    position: relative;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.spec h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 2px white;
}

.Header_menu {
    position: absolute;
    box-sizing: border-box;
    right: 30px;
    top: 0;
}

.Logo {
    box-sizing: border-box;
    position: relative;
    Left: 50px;
    bottom: 4px;

}

.index-text1 {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: -180px;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 3px 3px rgb(219, 33, 0);
}

.LogoImg {
    width: 200px;
    transition: sfilter 0.2s ease;
}

.LogoImg:hover {
    animation: bounce 0.4s ease;
}


.Header_menu li {
    list-style: none;
    margin-right: 15px;
}


.Header_menu li a {
    text-decoration: none;
    color: white;
    display: flex;
    margin-bottom: 20px;
}

.Header_menu li:hover {
    animation: bounce 0.4s ease;
}

.Header_menu li:hover .menu-text {
    color: khaki;
}

.menu-text {
    display: block;
    font-size: 9px;
    line-height: 1.2;
}

.menu-text2 {
    font-size: 23px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.forceHeading {
    box-sizing: border-box;
    background-color: rgb(122, 148, 62);
    width: 350px;
    height: auto;
    color: white;
    background-position: center;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 1px 2px 10px black;
    transform: translateX(-50%);
    margin-left: 50%;
    border-radius: 20px;
    border: 8px #cf9902 outset;
}

#hero {
    background-image: url(../images/兵士1.webp);
    background-position: 50% 30%;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;

}

#hero::before {
    box-sizing: border-box;
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.hero_inner {
    box-sizing: border-box;

    position: absolute;
    text-align: center;
    top: 0;
}

.titleLogo {
    position: relative;
    width: 600px;
    max-width: 600px;
    top: 130px;
    height: auto;

}

.indexHeading {
    box-sizing: border-box;
    color: white;
    text-align: center;
    top: 0;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 3px 3px black;

}

.indexHeading span {
    font-size: 50px;
}

.storyHeading {
    position: relative;
    font-size: 40px;
    opacity: 0;
    transform: translateY(-1em);
    transition: opacity 0.8s ease, transform 0.8s ease;
    z-index: 100;
}

.hero_inner2 {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 3px 3px black;

}

.hero_inner2 h1.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero_inner2 p {
    position: relative;
    z-index: 10;
    opacity: 0;
    margin: 25px;
    transform: translateY(-1em);
    transition: opacity 0.6s ease, transform 0.6s ease;
    color: whitesmoke;
}

.hero_inner2 p.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero_inner2 span {
    font-size: 50px;
}

#hero2 {
    box-sizing: border-box;
    background-image: url(../images/室内.webp);
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

}

#hero2::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.hero2Image {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 100%;
    z-index: 5;
    filter: brightness(85%);
}


.hero2Image2 {
    box-sizing: border-box;
    position: absolute;
    left: 60%;
    height: 100%;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    z-index: 5;
}

.hero2Image2.hidden {
    transform: translateX(100%);
}

.hero2Image2.visible {
    transform: translateX(0);
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.active-true {
    display: block;
}

.active-false {
    display: none;
}

.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 8px;
}

.map-container {
    position: relative;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 650px;
    padding-bottom: 50px;
}

.Map {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
    border: 8px #cf9902 outset;
}

.Country {
    display: flex;
    background-image: url(../images/バナー1.webp);
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    align-items: center;
    object-fit: fill;
    opacity: 0.95;
    transition: sfilter 0.2s ease;
}

.Country button {
    position: relative;
    bottom: 1px;
    background: none;
    object-fit: fill;
    background-repeat: no-repeat;
    border: none;
    width: 250px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(49, 66, 1);
    font-weight: bold;
    font-size: 1rem;
}

.Country:hover {
    animation: bounce 0.4s ease;
}

.esh {
    top: 33%;
    left: 50%;
    width: 200px;
    height: 60px;
}

.swa {
    top: 22%;
    left: 25%;
    width: 200px;
    height: 60px;
}

.ruman {
    top: 45%;
    left: 48%;
    width: 240px;
    height: 60px;
}

.ber {
    top: 20%;
    left: 57%;
    width: 165px;
    height: 60px;
}

.fle {
    top: 53%;
    left: 7%;
    width: 160px;
    height: 60px;
}

.habi {
    top: 35%;
    left: 15%;
    width: 110px;
    height: 60px;
}

.vix {
    top: 46%;
    left: 26%;
    width: 145px;
    height: 60px;
}

#infoCharacter {
    width: 200px;
}


#infoBox {
    display: none;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);
    background: #201a18d8;
    border: 7px outset #e07800;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#termSection {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 50px;
}

.termContainer {
    position: relative;
    background-color: #2723208f;
    width: 650px;
    height: 400px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    top: -20px;
    display: block;
    border-radius: 30px;
    border: 8px #cf9902 outset;
    overflow-y: auto;
}

.term-menu {
    position: sticky;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #0000004d;
}

.menu-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #dad2cb;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 50px;
    height: 30px;
    transition: transform 0.1s ease;
}

.menu-wrapper {
    position: relative;
    display: flex;
}

.menu-wrapper:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #dad2cb;
}

.menu-item:hover {
    color: #ffffff;
    cursor: pointer;
}

.menu-item:active {
    transform: scale(0.9);
}

.term-title {
    position: relative;
    width: 70%;
    font-size: 25px;
    font-weight: bold;
    top: 0;
    left: 50px;
    color: #ffffff;
}

.term-title h3 {
    top: 0;
    margin: 0;
}

.term-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    writing-mode: vertical-lr;
    gap: 5px;

    height: 300px;
    overflow: visible;
    left: 10%;
    top: 5%;
    align-content: start;
}

.term-return {
    background: none;
    border: none;
    position: absolute;
    transform: scaleX(-1) scale(0.2);
    top: -75px;
    left: -110px;
    cursor: pointer;
}

.term-return:hover {
    transform: scaleX(-1) scale(0.23);
}

.term-return:active {
    transform: scaleX(-1) scale(0.18);
}

.term-button {
    writing-mode: horizontal-tb;
    background: none;
    border: none;
    width: 230px;
    height: 35px;
    font-size: 20px;
    color: #ffffff;
    line-height: 25px;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.1s ease;
}

.term-button:hover {
    transform: scale(1.1);
}

.term-button:active {
    transform: scale(0.9);
}


.term-icon {
    position: relative;
    width: 50%;
    height: auto;
    left: 25%;
    top: -10px;
}

.term-chara {
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
}

.term-chara-text {
    color: #532e12;
    font-weight: bold;
    font-size: 15px;
}

.term-charaBase {
    display: flex;
    position: relative;
    width: 96%;
    height: auto;
    left: 2%;
    align-items: center;
}

.term-charaBase-Win {
    position: absolute;
    width: 80%;
    height: auto;
    border: #cf9902 4px outset;
    background-color: #dbbc9e;
    border-radius: 10px;
    right: 2%;
    bottom: 2%;
}

.definition {
    position: relative;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    color: #f5f1ee;
    top: -10px;
}

#infoContent {
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    text-shadow: 1px 2px 2px black;
}

#infoContent2 {
    position: absolute;
    color: #dad2cb;
    text-align: center;
    font-size: 16px;
    transform: translate(-50%, -50%);
    bottom: 86%;
    left: 50%;
}

#infoContent2_2 {
    position: absolute;
    display: block;
    color: #dad2cb;
    text-align: right;
    font-size: 16px;
    right: 8%;
    bottom: 76%;
}

#infoContent3 {
    position: relative;
    font-size: 18px;
    text-align: left;
    left: 3%;
}

#infoContent4 {

    color: #ffffff;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

#infoBox button {
    position: absolute;
    right: 3%;
    top: 3%;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #dad2cb;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    z-index: 100;
    transition: color 0.2s;
    cursor: pointer;
}

#infoBox button:hover {
    color: rgb(182, 8, 8);
}

#infoCharacter {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 82%;
}

#charaSelect {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.charaBanner {
    padding-bottom: 20px;
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    width: 85vh;
    align-items: center;
    cursor: pointer;
    transition: sfilter 0.2s ease;

}

.charaBanner:hover {
    animation: bounce 0.4s ease;
}

.charaBanner:active {
    transform: translateY(0) scale(0.92);
}

.bannerWrapper {
    position: relative;

}

.bannerImg {
    display: block;
    max-width: 100%;
    height: auto;

}

.bannerText {
    width: 400px;
    color: rgb(49, 66, 1);
    position: absolute;
    left: 62%;
    bottom: 32%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 5vh;
}

.charaBanner:hover .bannerText {
    color: #cf9902;
}

.sidebar li {
    list-style: none;
    display: flex;
    justify-content: center;
}

.layout ul {
    padding: 0;

}

.sidebar {
    width: 170px;
    background: rgb(201, 107, 0);
    overflow-y: auto;
    height: 90vh;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 100;
}

.sideButton {
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.sideButton:hover .sideImg {
    animation: bounce 0.2s ease;
}

.sideButton:active .sideImg {

    transform: translateY(0) scale(0.92);
}


.sideImg {
    width: 100px;
    height: auto;
    transition: sfilter 0.2s ease;
}

#hero3 {
    background-image: url(../images/背景_武器庫.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: calc(100vh - 80px);
    top: 0;
    left: 0;
}

#hero3::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #523b28;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.UIBanner1 {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.UIBanner1Img {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: auto;
}

.charaTitle1 {
    position: absolute;
    width: 100%;
    color: white;
    text-shadow: -2px -1px 0 black,
        2px -1px 0 black,
        -2px 1px 0 black,
        2px 1px 0 black;
    font-size: 30px;
    z-index: 10;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    align-items: center;
}

#charaSelect {
    position: relative;
    max-height: 100%;
    overflow-y: auto;

}

#charaWindow {
    background-color: #b98b5f69;
    border: #a84c00c7 outset 5px;
    min-width: 820px;
    width: 70%;
    height: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    top: 57%;
    left: 58%;
    z-index: 1;
    overflow: hidden;
}

.charaWinNameBase {
    position: relative;
    width: 350px;
    height: auto;
    left: 50px;
}

.UIBanner2 {
    position: relative;
    width: 350px;
    margin: 0 auto;
}

#charaWinName {
    width: 350px;
    font-size: 35px;
    color: rgb(255, 245, 238);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 15%;
    position: absolute;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    text-shadow: -2px -1px 0 black,
        2px -1px 0 black,
        -2px 1px 0 black,
        2px 1px 0 black;
}

#charaWinMain {
    width: 50%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.493);
    border: 5px outset darkgoldenrod;
    border-radius: 10px;
    position: fixed;
    top: 53%;
    left: 7%;
}

#charaText {
    position: relative;
    color: rgb(226, 220, 215);
    font-size: 16px;
    font-weight: 500;
    left: 2.5%;
    top: 3.5%;
    width: 95%;
    height: 95%;
}

#charaWinImg {
    visibility: hidden;
    height: 100%;
    position: fixed;
    left: 60%;
    bottom: 0;
    transform: translateX(0);
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#charaWinImg.animate {
    visibility: visible;
    transform: translateX(-15%);
    opacity: 1;
}

#face1 {
    position: absolute;
    left: 50%;
    top: 0;
    width: 7vw;
    height: auto;
    z-index: 100;
}

#faceButton1 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease;
}

#face2 {
    position: absolute;
    left: 58%;
    top: 10%;
    width: 7vw;
    height: auto;
    z-index: 100;
}

#faceButton2 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease;
}

#face3 {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 7vw;
    height: auto;
    z-index: 100;
}

.faceButtonBase {
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.faceButtonBase:disabled {
    cursor: default;
}

.faceButtonBase :hover {
    transform: translateY(0) scale(1.05);
}

.faceButtonBase :active {
    transform: translateY(0) scale(1);
}

#faceButton3 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease;
}

.StatusWin {

    position: absolute;
    left: 90px;
}

.StatusWin li {
    color: whitesmoke;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

#hero4 {
    background-image: url(../images/山岳部隊2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 50px;
}

#hero4::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.SystemImg {
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.SystemImg img {
    position: relative;
    width: 500px;
    height: auto;
    border: #cf9902 5px outset;
    border-radius: 20px;
}

.SystemText {
    position: relative;
    width: 500px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
    color: #140501;
}

.SystemTytle {
    color: rgb(31, 9, 3);
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    align-items: center;
}

.UIBanner3 {

    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
}

.UIBanner3Img {
    position: relative;
    width: 300px;
    height: 80px;
    background-size: 100% 100%;
}

#classSelect {
    width: 635px;
    position: relative;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.classButton {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
    border: none;
    width: 300px;
    height: auto;
    cursor: pointer;
}

.classButton img {
    width: 300px;
}

.classButton :hover {
    transform: scale(105%);
}

.classButton:active {
    transform: scale(95%);
}

.classWindow {
    z-index: 1000;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 700px;
    height: 450px;
    background-color: #140501c4;
    border: #cf9902 8px outset;
    border-radius: 10px;
}

.classWinNameBase {
    position: relative;
    width: 300px;
    height: 20px;
}

.hiddenButton {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000;
}

.hiddenButton:hover {
    color: rgb(182, 8, 8);
}

.classWinNameBase img {
    width: 300px;
}

.weaponText {
    position: absolute;
    font-size: 18px;
    color: #dad2cb;
    left: 320px;
    top: 0;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.classChara {
    position: relative;
    width: 300px;
    left: 50px;
    top: 50px;
}

.classChara img {
    width: 300px;
}

.classScreenshot2Base {
z-index: 2000;
    position: absolute;
    transform: translate(-50%, 50%);
    top: 0;
    left: 50%;
    width: 100%;
}

.classScreenshot2 {
    display: none;
    position: absolute;
    width: 100%;
    cursor: zoom-out;
}

.classText {
    position: absolute;
    font-size: 17px;
    width: 300px;
    right: 50px;
    top: 120px;
    color: #dad2cb;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}
.classScreenshotBase{
    position: relative;
}
.classScreenshot:hover{
    transform: scale(105%);
}
.classScreenshotBase ul {
    display: flex;

}

.classScreenshotBase li {
    list-style: none;

}

.classScreenshot {
    position: relative;
    bottom: 15px;
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
    border: none;
    cursor:zoom-in;
}

.classScreenshot img {
    width: 200px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: darkolivegreen;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(201, 107, 0);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-8px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width:600px) and (max-width: 1024px) {

    .Header_menu {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .Logo {
        width: 180px;
        left: 20px;
    }

    .spAuto {
        width: 90%;
    }

    .spText {
        font-size: 18px;
    }

    #infoBox {
        max-width: 500px;
        width: 95%;
    }

    .term-button {
        width: 200px;
    }

    .definition {
        font-size: 15px;
    }

    .term-chara-text {
        font-size: 14px;
    }

    #infoContent4 {
        font-size: 18px;
    }

    .spContainer {
        width: 95%;
    }

    .hero2Image2 {
        position: absolute;
        left: 50%;
    }



    .menu-item {
        width: 40px;
    }

    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    #spMenuHidden.sp {
        display: block;
    }

    #spMenuVisible.sp {
        display: none;
    }

    .sideImg {
        width: 60px;
    }

    .sidebar {
        position: fixed;
        width: 100%;
        overflow-x: auto;
        height: 95px;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .sidebar ul {
        display: flex;
        list-style: none;
        position: static;
        gap: 10px;
        white-space: nowrap;
        scrollbar-width: thin;
    }

    #charaWindow {
        width: 90%;
        height: 60%;
        max-height: 800px;
        top: 65%;
        left: 50%;
        max-width: 600px;
        min-width: 0px;
        max-height: 420px;
    }

    .StatusWin {
        left: 20px;
    }

    .StatusWin li {
        font-size: 13px;
    }

    .charaWinNameBase {
        width: 200px;
        left: 10px;
    }

    .UIBanner2 {
        width: 200px;
    }

    #charaWinName {
        font-size: 25px;
        top: 3px;
        left: 110px;
    }

    #charaText {
        font-size: 13px;
    }

    #charaWinMain {
        left: 10px;
        top: auto;
        bottom: 3%;
        height: 45%;
    }

    .charaBanner {
        width: 450px;
    }

    .bannerText {
        font-size: 25px;
    }

    #face1 {
        width: 10vh;
    }

    #face2 {
        width: 10vh;
    }

    #face3 {
        width: 10vh;
    }

    #charaWinImg {
        height: 100%;
        left: 50%;
    }

    #classSelect {
        width: 420px;
    }

    .classButton {
        width: 200px;
    }

    .classButton img {
        width: 200px;
    }
}


@media screen and (min-width:1025px) {
    .pc {
        display: block;
    }

    .sp {
        display: none;
    }

}

@media screen and (max-width:599px) {
    .Container {
        border-top: 12px solid darkolivegreen;
        border-bottom: 12px solid darkolivegreen;
        height: 94px;
    }

    .Container2 {
        border-top: 12px solid darkolivegreen;
        border-bottom: 12px solid darkolivegreen;
    }

    .LogoImg {
        width: 200px;
    }

    .index-text1 {
        font-size: 30px;

        bottom: -170px;
    }

    body {
        padding-top: 47px;
    }

    #hero {
        height: 500px;
    }

    #hero h2 {
        font-size: 20px;
    }

    #hero2 {
        height: 500px;
    }

    #hero2 p {
        margin: 15px;
    }

    #hero2 h1 {
        font-size: 30px;
    }

    #hero3 {
        height: calc(100vh - 87px);
    }

    .menu-text {
        font-size: 15px;
    }

    .menu-text2 {
        font-size: 25px;
    }

    .menu-icon {
        top: 1px;
        width: 45px;
        height: auto;
    }

    .spec h2 {
        font-size: 30px;
    }

    #charaWindow {
        width: 90%;
        height: 50%;
        top: 65%;
        left: 50%;
        min-width: 0px;
    }

    .spMenuButton {
        width: 50px;
        top: 12px;
        right: 10px;
    }

    #spMenuVisible .spMenuButton {
        top: 24px;
    }

    .termContainer {
        max-width: 90%;
        height: 350px;
    }

    .Header_menu {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .Logo {
        width: 180px;
        left: 20px;
    }

    .spAuto {
        width: 90%;
    }

    .spText {
        font-size: 14px;
    }

    .map-container {
        max-width: 90%;
    }

    .esh {
        top: 30%;
        width: 150px;
        height: 45px;
    }

    .swa {
        top: 22%;
        left: 20%;
        width: 150px;
        height: 45px;
    }

    .ruman {
        top: 41%;
        left: 50%;
        width: 180px;
        height: 45px;
    }

    .ber {
        top: 18%;
        width: 120px;
        height: 45px;
    }

    .fle {
        top: 50%;
        left: 3%;
        width: 125px;
        height: 45px;
    }

    .habi {
        top: 35%;
        width: 80px;
        height: 45px;
    }

    .vix {
        top: 44%;
        left: 23%;
        width: 110px;
        height: 45px;
    }

    .Country button {
        font-size: 12px;
    }

    #infoContent2 {
        font-size: 10px;
        top: 25px;
    }

    #infoContent {
        font-size: 15px;
    }

    #infoContent2_2 {
        font-size: 10px;
    }

    #infoContent3 {
        font-size: 10px;
    }

    #infoContent4 {
        position: relative;
        top: 8px;
    }

    #infoCharacter {
        width: 120px;
    }

    .term-return {
        top: -80px;
        left: -120px;
        transform: scaleX(-1) scale(0.15);
    }

    .term-return:hover {
        transform: scaleX(-1) scale(0.16);
    }

    .term-return:active {
        transform: scaleX(-1) scale(0.12);
    }

    #infoBox {
        width: 75%;
        height: 70%;
    }

    .term-title {
        font-size: 18px;
        top: 7px;
        left: 30px;
    }

    .term-button {
        width: 130px;
        height: auto;
        font-size: 11px;
    }

    .definition {
        font-size: 12px;
    }

    .term-chara-text {
        font-size: 11px;
    }

    #infoContent4 {
        font-size: 12px;
    }

    .spContainer {
        width: 95%;
    }

    .hero2Image2 {
        position: absolute;
        left: 40%;
    }

    .menu-item {
        width: 32px;
        font-size: 12px;
    }

    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    #spMenuHidden.sp {
        display: block;
    }

    #spMenuVisible.sp {
        display: none;
    }

    .sideImg {
        width: 90px;
    }

    .sidebar {
        position: fixed;
        width: 100%;
        overflow-x: auto;
        height: 120px;
        top: 80px;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .sidebar ul {
        display: flex;
        list-style: none;
        position: static;
        gap: 10px;
        white-space: nowrap;
        scrollbar-width: thin;
    }

    .StatusWin {
        left: 15px;
        top: 45px;
    }

    .StatusWin li {
        font-size: 11px;
    }

    .charaWinNameBase {
        width: 150px;
        left: 0;
    }

    .UIBanner2 {
        width: 150px;
    }

    #charaWinName {
        font-size: 17px;
        left: 50%;
    }

    #charaText {
        font-size: 12px;
    }

    #charaWinMain {
        left: 10px;
        top: auto;
        bottom: 3%;
        height: 50%;
    }

    .charaBanner {
        width: 350px;
        margin-top: 5px;
    }

    .bannerText {
        width: 350px;
        font-size: 25px;
    }

    #face1 {
        width: 55px;
        left: 43%;
        top: 3%;
    }

    #face2 {
        width: 55px;
        left: 52%;
        top: 12%;
    }

    #face3 {
        width: 55px;
        left: 43%;
        top: 21%;
    }

    #charaWinImg {
        height: 95%;
        left: 45%;
    }

    #hero4 {
        background-image: url(../images/山岳部隊.webp);
    }

    #hero4::before {
        background-color: #000000;
    }

    .SystemText {
        width: 380px;
        color: white;
        text-shadow: -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }

    .SystemImg {
        width: 380px;
    }

    .SystemImg Img {
        width: 380px;
    }

    #classSelect {
        width: 250px;
    }

    .classButton {
        width: 250px;
    }

    .classButton img {
        width: 250px;
    }
    .classWindow{
        width: 400px;
    }
    .classWinNameBase{
        width: 150px;
    }
    .classWinNameBase img{
        width: 150px;
    }
    .classText{
        right: 10px;
        top:80px;
        width: 180px;
        font-size:13px;
    }
    .weaponText{
        width: 250px;
        left: 160px;
        font-size: 13px;
        top:3px;
    }
    .classChara{
        width: 200px;
        left: 0;
        top:30px;
    }
    .classChara img{
        width: 200px;
    }
    .classScreenshot{
        width: 150px;
    }
    .classScreenshot img{
        width: 150px;
    }
    .classScreenshotBase{
        width: 350px;
        box-sizing: border-box;
        bottom: -30px;
    }
    .classScreenshotBase ul{
        width: 350px;
        flex-wrap:wrap;
        gap :10px;
    }
    .classScreenshot2Base{
        top: 0%;
        left: 50%;
    }
}